<section class="page-header">
    <div class="overly"></div>
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-lg-6">
             <div class="content text-center">
                <h1 class="mb-3">Contact</h1>
                <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god
                   day multiply you’ll which</p>
 
                <nav aria-label="breadcrumb">
                   <ol class="breadcrumb bg-transparent justify-content-center">
                      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Contact</li>
                   </ol>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </section>


<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="map">
                  <iframe src="https://www.google.com/maps/place/Dallas,+TX,+USA/@32.8191173,-97.3554497,10z/data=!3m1!4b1!4m5!3m4!1s0x864c19f77b45974b:0xb9ec9ba4f647678f!8m2!3d32.7766642!4d-96.7969879" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                  <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Say Hello. Don't Be Shy!</h2>
                    <span>Details to details is what makes Therichpost different from the other themes.</span>
                </div>
                <form id="contact" action="" method="post">
                    <div class="row">
                      <div class="col-lg-6">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your name" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input name="email" type="text" id="email" placeholder="Your email" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="message" rows="6" id="message" placeholder="Your message" required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                          </fieldset>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                    <span>Details to details is what makes Therichpost different from the other themes.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your Name" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-2">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                        </fieldset>
                      </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Store Location:<br><span>United States of America</span></li>
                            <li>Phone:<br><span>+1 469 740 7590</span></li>
                            <li>Office Location:<br><span>Dallas-texas</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                            <li>Email:<br><span>infoonclick@company.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

