
.placed{
    width: 300px;
    height:210px;
    margin-top: 40px;
    margin-left: 38%;
}
.color{
    color: lime;
    margin-left: 33%;
}
.order{
    margin-left: 25%;
}
.text{
    margin-left: 15%;
}
.total{
    margin-left: 30%;
}
.payment{
    margin-left: 35%;
}
.btn{
    margin-left: 40%;
}